@model TesteProjetoEixo2.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="background">
        <div class="img1">
            <img src="~/img/output.png" alt="Engrenagem Inferior Esquerdo">
        </div>
        <div class="img2">
            <img src="~/img/output.png" alt="Engrenagem Superior Direito">
        </div>
        <h1 class="logo">H<span>+</span>H</h1>
        <div class="centerpage">
            <h1 class="logo2">H<span>+</span>H</h1>
            <h4>Cadastre-se Aqui!</h4>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="text" placeholder="Nome" asp-for="Nome">
                <input type="email" placeholder="E-mail" asp-for="Email">
                <input type="text" placeholder="Telefone" asp-for="Numero">
                <input type="password" placeholder="Senha" asp-for="Senha">
                <input type="date" placeholder="Data de Nascimento" asp-for="DataNascimento">
                <input type="number" placeholder="CPF">
                <button class="btn">Cadastrar</button>
            </form>
        </div>
    </div>
    <h4>Cliente</h4>
    <hr />
    <!--<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DDD" class="control-label"></label>
                    <input asp-for="DDD" class="form-control" />
                    <span asp-validation-for="DDD" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input asp-for="DataNascimento" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>-->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
